%html
  %head
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/defaults.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/type.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/forms.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/tables.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/lists.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/screen.css'}
    %script{:type => 'javascript', :src => '/javascripts/jquery-1.4.2.min.js'}
    %script{:type => 'javascript', :src => '/javascripts/4tehlulz.js'}
  %body
    .content
      %h2
        %a{:href => "http://knowyourmeme.com/memes/reaction-guys-gaijin-4koma"}
          Reaction Guys/ Gaijin 4Koma
      %form{:method => 'post', :action => '/', :enctype => "multipart/form-data"}
        %fieldset.inputs
          %ol
            %li.file
              %label{:for => 'first_panel'} First Panel
              %input{:type => 'file', :name => 'first_panel', :size => 30}

            %li.select
              %label{:for => 'second_panel'} Second Panel
              %select{:name => 'second_panel'}
                %option disappointment
                %option euphoria

            %li.file
              %label{:for => 'third_panel'} Third Panel
              %input{:type => 'file', :name => 'third_panel', :size => 30}

            %li.select
              %label{:for => 'fourth_panel'} Fourth Panel
              %select{:name => 'fourth_panel'}
                %option euphoria
                %option disappointment
        %fieldset.buttons
          %ol
            %li.commit
              %input{:type => 'submit', :value => "Upload"}


      - if flash[:notice]
        .notice= flash[:notice]

      - if @last_lulz
        %h3 your last upload
        - if @last_lulz.imgur_url?
          %img{:src => @last_lulz.imgur_url}
        - else
          %img{:src => "/uploads/#{@last_lulz.id}"}


      %h3 all lulz
      %ul
        - @lulz.each do |lulz|
          %li
            - if lulz.imgur_url?
              %a{:href => lulz.imgur_url}= lulz.id
            - else
              %a{:href => "/uploads/#{lulz.id}"}= lulz.id

